<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="little.goose.office">

    <application
        android:name=".AccountApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Account">
        <activity
            android:name="little.goose.account.ui.TransactionExampleActivity"
            android:exported="false" />
        <activity
            android:name="little.goose.memorial.ui.MemorialShowActivity"
            android:exported="false" />
        <activity
            android:name="little.goose.memorial.ui.MemorialActivity"
            android:exported="false" />
        <activity
            android:name="little.goose.account.ui.analysis.AccountAnalysisActivity"
            android:exported="false" />
        <activity
            android:name="little.goose.account.ui.transaction.TransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="little.goose.note.ui.note.NoteActivity"
            android:exported="false" />
        <activity
            android:name="little.goose.office.MainActivity"
            android:theme="@style/Theme.AppSplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>